input,
div.error,
.button {
	margin: 3px 5px 1px 5px;
}

input {
	width: 230px;
}

div.error {
	border: solid 1px maroon;
	background-color: rgba(185, 19, 19, 0.9);
	color: white;
	padding: 3px 5px;
	border-radius: 5px;
}

div.error span.title {
	text-transform: capitalize;
	font-weight: bold;
}

.button {
	padding: 0.5em 1.5em;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	border: solid 1px #bc07bc;
	font-size: 1rem;
}

.button:hover::before, svg.logo.signedIn:hover::before {
	content: '';
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button-85 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

@keyframes glowing-button-85 {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.button::after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	left: 0;
	top: 0;
	border-radius: 10px;
}

button.icon {
	width: 33px;
	height: 33px;
	border-style: none;
	font-size: 20px;
	outline: none;
	cursor: pointer;
	border-radius: 0;
	color: #808080 ;
	background-color: transparent;
	pointer-events: painted;  
}

.form_group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
}

.form_field {
	font-family: inherit;
	border: 0;
	border-bottom: 2px solid #808080;
	outline: 0;
	font-size: 1rem;
	color: #808080;
	padding: 5px 3px;
	background: transparent;
	transition: border-color 0.2s;
}

.form_field::placeholder {
	color: transparent;
}

.form_field:placeholder-shown ~ .form__label {
	cursor: text;
	top: 20px;
}

.form_label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	color: #808080;
	font-size: 0.8rem;
}

.form_field:focus {
	padding-bottom: 6px;
	border-width: 3px;
	border-color: #bc07bc;
	border-image-slice: 1;
	transition: opacity 0.3s ease-in-out;
}

.form_field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #bc07bc;
	font-weight: 700;
}

/* reset input */
.form_field:required,
.form_field:invalid {
	box-shadow: none;
}

.form_buttons {
	padding-top: 3px;
	display: flex;
	justify-content: center;
}

.search.form_group {
	position: fixed;
	left: 100px;
	right: 60px;
	padding: 0px;
	margin: 0px;
	border: none;
	border-bottom: 2px solid #bc07bc;
	color: #fff;
	background-color: #444;
}

.search.form_group .form_field {
	border: None;
}

.search.form_group ul.selected{
	max-height: 46px;
	overflow-y: auto;
}

.search.form_group .form_field::placeholder {
	color: #808080;
}

.tag_option span {
	color: #2d2d2d;
	border: solid 1px #808080;
	padding: 2px 5px;
	margin: 2px 0px;
	border-radius: 4px;
}

.tag_selected {
	color: #fff;
	border: solid 1px #808080;
	border-radius: 4px;
}

.tag_option span i, .tag_selected i {
	color: #808080;
}
